---

- name: Install {{ clean_role_name }} packages
  when: {{ clean_role_name }}_use_docker | lower == 'false'
  package:
    name: "{{ '{{' }} {{ clean_role_name }}_distro_packages {{ '}}' }}"
    state: "{{ '{{' }} {{ clean_role_name }}_package_state {{ '}}' }}"
    update_cache: "{{ '{{' }} (ansible_pkg_mgr == 'apt') | ternary('yes', omit) {{ '}}' }}"
    cache_valid_time: "{{ '{{' }} (ansible_pkg_mgr == 'apt') | ternary(cache_timeout, omit) {{ '}}' }}"
  register: install_packages
  until: install_packages is success
  retries: 5
  delay: 2
  tags:
    - install-apt
    - install-yum
    - install-zypper

- name: Pull docker image
  when: {{ clean_role_name }}_use_docker | lower == 'true'
  docker_image:
    name: "{{ '{{' }} {{ clean_role_name }}_docker_image {{ '}}' }}"
    tag: "{{ '{{' }} {{ clean_role_name }}_docker_tag {{ '}}' }}"
  register: pull_docker
  until: pull_docker is success
  retries: 5
  delay: 60
  tags:
    - pull-docker
