---
# tasks file for {{ full_role_name }}

- name: Variables by OS
  include_vars: "{{ '{{' }} item {{ '}}' }}"
  tags: always
  with_first_found:
    - "{{ '{{' }} ansible_distribution | lower {{ '}}' }}-{{ '{{' }} ansible_distribution_version | lower {{ '}}' }}.yml"
    - "{{ '{{' }} ansible_distribution | lower {{ '}}' }}-{{ '{{' }} ansible_distribution_major_version | lower {{ '}}' }}.yml"
    - "{{ '{{' }} ansible_os_family | lower {{ '}}' }}-{{ '{{' }} ansible_distribution_major_version | lower {{ '}}' }}.yml"
    - "{{ '{{' }} ansible_distribution | lower {{ '}}' }}.yml"
    - "{{ '{{' }} ansible_os_family | lower {{ '}}' }}.yml"

- import_tasks: {{ clean_role_name }}_pre_install.yml
  tags:
    - {{ clean_role_name }}-pre-install

- import_tasks: {{ clean_role_name }}_install.yml
  tags:
    - {{ clean_role_name }}-install

- import_tasks: {{ clean_role_name }}_post_install.yml
  tags:
    - {{ clean_role_name }}-post-install
