---

- name: APT-based
  when: ansible_os_family | lower == 'debian'
  block:
    - name: Get repo key
      register: repo_key_result
      notify: delete repo key file
      get_url:
        url: "{{ '{{' }} {{ clean_role_name }}_repo_key_url {{ '}}' }}"
        dest: /tmp/{{ '{{' }} clean_role_name {{ '}}' }}-repo.key

    - name: Installation de la cle de depot
      command: apt-key add {{ '{{' }} repo_key_result.dest {{ '}}' }}

    - name: Create apt repo
      get_url: url={{ '{{' }} {{ clean_role_name }}_repo_apt_url {{ '}}' }} dest=/etc/apt/sources.list.d/{{ clean_role_name }}.list

- name: RPM-based
  when: ansible_os_family | lower == 'redhat'
  block:
    - name: Create yum repo
      yum_repository:
        name: {{ clean_role_name }}
        description: {{ clean_role_name }} repo
        baseurl: "{{ '{{' }} {{ clean_role_name }}_repo_rpm_url {{ '}}' }}"
        gpgkey: "{{ '{{' }} {{ clean_role_name }}_repo_key {{ '}}' }}"

- name: Check running services
  service_facts:

- name: Set default facts
  set_fact:
    use_firewalld: false
    configure_consul: false

- name: Set local fact - Configure firewalld
  when: ansible_facts.services.firewalld is defined
  set_fact:
    use_firewalld: true

- name: Get Consul details
  when:
    - {{ clean_role_name }}_config_consul | lower == 'true'
    - ansible_facts.services.consul is defined
  block:
    - name: Get Consul service details
      systemd: name=consul
      register: consul_systemd

    - name: Set Consul facts
      set_fact:
        consul_bin: "{{ '{{' }} systemd_result.status.ExecStart | regex_replace('^.+path=(.+?){{ '\\' }}s+.+?$','{{ '\\' }}1') {{ '}}' }}"
        configure_consul: true

- name: Cluster-aware facts
  when: {{ clean_role_name }}_cluster_aware | lower == 'true'
  block:
    - name: Get crm node name
      command: crm_node -n
      register: crm_node_name
