---

- name: Pre-Install | Set default facts
  set_fact:
    use_firewalld: false
    configure_consul: false

- name: Pre-Install | Check running services
  service_facts:

- name: Pre-Install | Check Consul configuration
  when:
    - {{ clean_role_name }}_config_consul | lower == 'true'
    - not (ansible_facts.services | map('quote') | join(',') | regex_search('consul'))
  fail: msg="Consul service not found - Cannot configure it"

- name: Pre-Install | Check cluster configuration
  when:
    - {{ clean_role_name }}_cluster_aware | lower == 'true'
    - not (ansible_facts.services | map('quote') | join(',') | regex_search('pacemaker'))
  fail: msg="Pacemaker service not found - Cannot configure it"

- name: Pre-Install | APT-based
  when: ansible_os_family | lower == 'debian'
  block:
    - name: Pre-Install | Get repo key
      register: repo_key_result
      notify: delete repo key file
      get_url:
        url: "{{ '{{' }} {{ clean_role_name }}_repo_key_url {{ '}}' }}"
        dest: /tmp/{{ '{{' }} clean_role_name {{ '}}' }}-repo.key

    - name: Pre-Install | Installation de la cle de depot
      command: apt-key add {{ '{{' }} repo_key_result.dest {{ '}}' }}

    - name: Pre-Install | Create apt repo
      get_url: url={{ '{{' }} {{ clean_role_name }}_repo_apt_url {{ '}}' }} dest=/etc/apt/sources.list.d/{{ clean_role_name }}.list

- name: Pre-Install | RPM-based
  when: ansible_os_family | lower == 'redhat'
  block:
    - name: Pre-Install | Create yum repo
      yum_repository:
        name: Pre-Install | {{ clean_role_name }}
        description: {{ clean_role_name }} repo
        baseurl: "{{ '{{' }} {{ clean_role_name }}_repo_rpm_url {{ '}}' }}"
        gpgkey: "{{ '{{' }} {{ clean_role_name }}_repo_key {{ '}}' }}"

- name: Pre-Install | Set local fact - Configure firewalld
  when:
    - not (ansible_facts.services | map('quote') | join(',') | regex_search('firewalld'))
  set_fact:
    use_firewalld: true

- name: Pre-Install | Get Consul facts
  when:
    - {{ clean_role_name }}_config_consul | lower == 'true'
    - ansible_facts.services | map('quote') | join(',') | regex_search('consul')
  set_fact:
    configure_consul: true

- name: Pre-Install | Cluster-aware facts
  when: {{ clean_role_name }}_cluster_aware | lower == 'true'
  block:
    - name: Pre-Install | Get crm node name
      command: crm_node -n
      changed_when: False
      register: crm_result

    - name: Pre-Install | Set cluster facts
      set_fact:
        crm_node_name: "{{ '{{' }} crm_result.stdout {{ '}}' }}"
